// Primary
$color-primary-blue: rgb(38, 58, 138);
$color-secondary-blue: rgb(100, 119, 193);
$color-tertiary-blue: rgb(35, 43, 97);

// Secondary
$color-black: rgb(0, 0, 0);
$color-dark-grey: rgb(51, 55, 67);
$color-beige: rgb(237, 233, 231);
$color-white: rgb(255, 255, 255);

// Tokens
$primary-text: $color-black;
$secondary-text: $color-white;
